/* 
    General Styles
*/
.logo {
    width: 100px;
    margin-left: 2em;
}

.btn-fav {
    margin-right: 2em;
}

.row-info {
    border-top: 1px solid #dc3b4c!important;
    margin-top: 3em;

}
.row-info div {
    margin-top: 3em;
}

.tx-info {
    color: #dc3b4c!important;
}